
@font-face {
  font-family: 'ShangriLaNFSmallCaps';
  src: url('ShangriLaNFSmallCaps.eot?#iefix') format('embedded-opentype'),  url('ShangriLaNFSmallCaps.woff') format('woff'), url('ShangriLaNFSmallCaps.ttf')  format('truetype'), url('ShangriLaNFSmallCaps.svg#ShangriLaNFSmallCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
